<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Distribuciones</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-8 col-md-offset-2">
				<div class="hidden-xs">
					<div class="btn-group btn-group-justified btn-group-raised">
						<a [routerLink]="['/simulacion/distribucion', 1]" class="btn btn-lg btn-primary">Poisson</a>
						<a [routerLink]="['/simulacion/distribucion', 2]" class="btn btn-lg btn-primary">Normal</a>
						<a [routerLink]="['/simulacion/distribucion', 3]" class="btn btn-lg btn-primary">Gamma</a>
					</div>
					<div class="btn-group btn-group-justified btn-group-raised">
						<a [routerLink]="['/simulacion/distribucion', 4]" class="btn btn-lg btn-primary">Exponencial</a>
						<a [routerLink]="['/simulacion/distribucion', 5]" class="btn btn-lg btn-primary">F</a>
						<a [routerLink]="['/simulacion/distribucion', 6]" class="btn btn-lg btn-primary">Beta</a>
					</div>
					<div class="btn-group btn-group-justified btn-group-raised">
						<a [routerLink]="['/simulacion/distribucion', 7]" class="btn btn-lg btn-primary">Normal-log</a>
					</div>
				</div>
				<div class="visible-xs btn-group-vertical btn-group-raised">
					<a [routerLink]="['/simulacion/distribucion', 1]" class="btn btn-lg btn-primary">Poisson</a>
					<a [routerLink]="['/simulacion/distribucion', 2]" class="btn btn-lg btn-primary">Normal</a>
					<a [routerLink]="['/simulacion/distribucion', 3]" class="btn btn-lg btn-primary">Gamma</a>
					<a [routerLink]="['/simulacion/distribucion', 4]" class="btn btn-lg btn-primary">Exponencial</a>
					<a [routerLink]="['/simulacion/distribucion', 5]" class="btn btn-lg btn-primary">F</a>
					<a [routerLink]="['/simulacion/distribucion', 6]" class="btn btn-lg btn-primary">Beta</a>
					<a [routerLink]="['/simulacion/distribucion', 7]" class="btn btn-lg btn-primary">Normal-log</a>
				</div>
			</div>
		</div>
	</div>
</div>
