<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h3 class="panel-title">Distribuciones</h3>
		  	</div>
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">Poisson</a>
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">Normal</a>
					<a routerLink="/simulacion/gamma" class="btn btn-lg btn-primary">Gamma</a>
				</div>
				<div class="btn-group btn-group-justified">
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">Exponencial</a>
					<a routerLink="/simulacion/f" class="btn btn-lg btn-primary">F</a>
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">Beta</a>
				</div>
				<div class="btn-group btn-group-justified">
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">Normal-log</a>
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">T de Student</a>
					<a routerLink="/simulacion/distribucion" class="btn btn-lg btn-primary">Empírica</a>
				</div>
			</div>
		</div>
	</div>
</div>
